html {
  font-family: "Pontano Sans", sans-serif;
}

.hideme {
  display: none;
}

body {
  padding: 0;
}

footer {
  font-family: Tangerine, cursive;
}

.corn {
  background-color: cornsilk;
  border-radius: 4px;
}

.pink {
  color: white;
}
